/* Kiểm soát kích thước của ảnh trong Swiper */
.tour-detail .swiper {
  width: 100%;
  max-width: 500px;
  /* Đặt giới hạn chiều rộng tối đa cho Swiper */
  margin: auto;
}

.tour-detail .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-detail .swiper-slide .inner-image img {
  width: 100%;
  max-width: 100%;
  /* Đảm bảo ảnh không vượt quá kích thước của slide */
  max-height: 300px;
  /* Đặt chiều cao tối đa để ảnh không bị phóng to */
  object-fit: cover;
  /* Giữ tỷ lệ ảnh và cắt nếu vượt quá */
  border-radius: 5px;
}

/* header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 70px;
  max-width: 100%;
  border-radius: 50%;
}

.header .inner-menu>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu>ul>li {
  margin-left: 20px;
}

/* footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}

/* start detail tour */
/* Container tổng thể */
.tour-detail .container {
  display: flex;
  flex-wrap: wrap;
}

.tour-detail .inner-images {
  display: flex;
  flex-direction: column;
}

.tour-detail .inner-image {
  margin-bottom: 10px;
}

.tour-detail .inner-image img {
  width: 100%;
  height: auto;
  /* Giữ tỷ lệ ảnh */
  border-radius: 5px;
}

.tour-detail .inner-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #d9534f;
}

.tour-detail .inner-barcode,
.tour-detail .inner-time-start,
.tour-detail .inner-stock,
.tour-detail .inner-price-special,
.tour-detail .inner-price,
.tour-detail .inner-percent {
  margin: 5px 0;
  font-size: 1.1em;
}

.tour-detail .inner-price-special {
  color: #d9534f;
  font-weight: bold;
  font-size: 1.5em;
}

.tour-detail .inner-price {
  text-decoration: line-through;
  color: #888;
}

.tour-detail .inner-percent {
  color: #5cb85c;
}

.tour-detail .inner-infomation {
  /* margin-top: 20px; */
  margin-left: 60px;
}

.tour-detail .inner-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.tour-detail .inner-text {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 1em;
  color: #555;
}

/* Điều chỉnh kích thước Swiper khi màn hình nhỏ */
@media (max-width: 768px) {
  .tour-detail .swiper {
    max-width: 100%;
  }

  .tour-detail .swiper-slide .inner-image img {
    max-height: 200px;
  }
}

/* end detail tour */